<footer class="site-footer">
	<div class="container">
		<div class="content col-sm-8 col-xs-12">
			<p>Nullam quam velit, suscipit id venenatis a, sagittis sed lacus. Integer placerat ac nunc at scelerisque. Donec in neque vel ipsum semper tempus a ac metus. Sed vitae lorem magna. Aenean pharetra varius velit, cursus placerat nisi porttitor a.</p>
			<p>Duis dapibus nisi id diam bibendum molestie. Curabitur eget enim fermentum, iaculis tellus ut, iaculis metus. Etiam diam urna, lacinia nec posuere ut, consectetur eu risus. Sed porta magna id arcu faucibus vestibulum. Curabitur sollicitudin, orci sit amet sodales viverra, ante sapien tincidunt diam, at tempor justo lectus sit amet risus. Duis feugiat nibh vitae dolor volutpat suscipit. Nullam vitae lorem sem.</p>	
		</div>
		<div class="social col-sm-4 col-xs-12">
			<a href="https://www.facebook.com/institutoalphalumen"> <div class="contact facebook">F</div></a>
			<a href="#"> <div class="contact youtube">Y</div></a>
		</div>
	</div>

</footer>

<script src="{{ site.baseurl }}/js/bootstrap.min.js" type="text/javascript"></script>

