a {
	outline: none !important;
	text-decoration: none !important;
}

.page-wrapper {
	background: url(../images/background-top.png);
}

.header-top {
	min-height: 128px;
}

.header-logo {
	margin-top: 42px;
}

.header-menu {
	> ul {
		list-style-type: none;
		
		> li {
			color: white;
			padding-top: 55px;
			padding-left: 10px;
			padding-right: 10px;
			font-family: "Proxima Nova Regular";
			font-size: 18px;
			display: inline-block;

			&.active {
				padding-top: 55px;
				border-top: 5px solid #f16423;
			}
		}
	}
}

.home-carousel {
	background-color: transparent;
}

.home-container {
	background-color: white;
	font-family: "Proxima Nova Regular";

	.subscribe-container {
		border-bottom: 1px solid #e5e5e5;
		padding: 25px 0;
		color: #808180;

		@media (max-width: $screen-xs-max) {
			text-align: center;
			
			button {
				float: none !important;
				margin-top: 20px;
			}
		}

		p {
			margin: 0;
		}
	}

	.main-content {
		color: #58595b;
		padding: 40px 0;

		.add-content {
			margin-bottom: 60px;
			
			h2 {
				color: #f16423;
				margin-bottom: 50px;
				font-family: "Chaparral Pro Bold Italic";
				font-weight: 600;
			}

			> p {
				line-height: 2;
			}

			img {
				&.full-width {
						width: 100%;
						margin-top: 60px;	
				}
			}

			.team-wrapper {
				margin-top: 50px;
				
				.team-member {
					text-align: center;
					position: relative;
					padding: 0 30px;
					margin: 30px 0;
					
					.member-image {
						height: 120px;
						z-index: 2;
						width: 120px;
						border-radius: 100%;
					}

					.member-content {
						background-color: #016b5c;
						color: #ffffff;
						width: 100%;
						margin-top: -20px;
						padding: 10px 20px;
						text-align: left;
						margin-right: auto;
						display: block;
						left: 50%;
						top: 50%;
						margin-left: auto;;

						h4 {
							font-size: 16px;
							margin: 0;
						}

						p {
							margin: 0;
							font-weight: 100;
							margin-top: 5px;	
						}
					}
				}
			}
		}
	}
}

.site-footer {
	border-bottom: 5px solid #f06423;
	background-color: #ffffff;
	padding: 50px 0;

	.content {
		color: #dcdcdc;
	}

	.social {
		
		.contact {
			background-color: #016b5c;
			color: #ffffff;
			height: 40px;
			text-align: center;
			line-height: 40px;
			width: 40px;
			float: right;
			margin-right: 10px;
		}
	}
}

.carousel-container {
	background: url(../images/banner.png) no-repeat;
	position: relative;
	width: 100%;
	height: 453px;
	margin-bottom: 43px;
}

.carousel-text {
	position: absolute;
	width: 50%;
	right: 0px;
	margin-top: 125px;

	> h1 {
		color: white;
		font-size: 25px;
		font-family: "Proxima Nova Regular";

		.strong {
			font-size: 40px;
			font-family: "Chaparral Pro Bold Italic";
		}
	}
}

.btn-alpha {
	background-color: #f06423 !important;
	border: none;
	outline: none !important;
	padding: 15px 30px;
}

