<!-- &#45;&#45;&#45; -->
<!-- layout: default -->
<!-- &#45;&#45;&#45; -->
<!-- <div class="post"> -->
<!--   <header class="post&#45;header"> -->
<!--     <h1 class="post&#45;title">{{ page.title }}</h1> -->
<!--     <p class="post&#45;meta">{{ page.date | date: "%b %&#45;d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
<!--   </header> -->
<!--   <article class="post&#45;content"> -->
<!--     {{ content }} -->
<!--   </article> -->
<!-- </div> -->
